<%- include('../partials/header') %>

<% movies.forEach(m => { %>
    <form action="/movies/new" method="POST" class="watchList">
        <br><br>
       <div>
        <a href="/movies/<%= m._id%>"><%= m.name %></a>
        <a href="https://www.youtube.com/watch?v=<%= m.trailer %>" target="_blank">Trailer</a>
        <% m.reviews.forEach(r => { %>
            <h3>Rate: <%= r.rating %></h3>
        <% }) %>
       </div>
       <br>
       <img src="https://image.tmdb.org/t/p/w185<%= m.image %>"> 
    </form>    
<% }) %>