<%- include('../partials/header') %>

<form action="/movies/search" method="POST" class="search">
    <br><br>
    <input type="text" placeholder="Search..." name="newMovie"/>
    <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
</form>

<% movies.forEach(m => { %>
    <br>
    <form action="/movies/new" method="POST" class="searchResult">
        <p class="searchTitle"><%= m.title %>
            <br>
            Release: <%= m.release_date %>
            <input type="hidden" name="externalId" value='<%= m.id %>'/>
            <input type="hidden" name="name" value='<%= m.title %>'/>
            <input type="hidden" name="image" value='<%= m.poster_path %>'/>
            <br>
            <input type="submit" value="Add Movie" class="addMovie">
        </p>
        <img src="https://image.tmdb.org/t/p/w185<%= m.poster_path %>"> 
    </form>
<% }) %>