<%- include('../partials/header') %>

<div class="watchList">
    <h2><%= movie.name %></h2>
    <img src="https://image.tmdb.org/t/p/w342<%= movie.image %>">
</div>
<br>
<form id="add-review-form" method="POST"
  action="/movies/<%= movie._id %>/review">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Save">
</form>
<br>
<table>
    <% movie.reviews.forEach(r => { %>
    <div>
        <td><%= r. content %></td>
        <td><%= r. rating %></td>
    </div>
    <% }) %>
</table>

